body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f4f8;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 320px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

#display {
    width: 100%;
    height: 80px;            
    padding: 12px;           
    font-size: 1.4rem;       
    text-align: right;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin-bottom: 15px;

    white-space: normal;     
    overflow: hidden;  
    display:flex;
    flex-direction:column;
    justify-content:flex-end;      


}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding:10px;
}

button {
  padding: 18px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: #e3e7ee;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #d6dbe3;
}

.operator {
  background: #cfe3ff;
}

.operator:hover {
  background: #b2d4ff;
}

#equals {
  background: #82baff;
  color: white;
}

#equals:hover {
  background: #69aaff;
}
